@media only screen (max-width: 1024px){
  #nav-mobile{
    font-size: 10px;
    display: block;
  }
}

@media only screen (max-width: 1024px) {
  #about-us-box{
    font-size: 10px;
    display: block;
  }
}
.nav-wrapper{
  min-height: 85px;
  font-family: "Roboto";
  box-sizing: border-box;
}


.nav-padding{
  padding-top: 13px;
}


.logo-size-top{
  display: block !important;
}

.logo-size-bottom{
  padding: 30px !important;
  display: block !important;
  color: #0288d1 !important;
}


.hamburger-nav{
  display: none;
}

.hamburger-bar{
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;

}

@media only screen (max-width: 1024px){
  .hamburger-nav{
    display: block;
  }
}


.hero-image {
  background-image: url(../assets/chicago-skyline.jpeg);
  width: 100%;
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
}

.tagline-box{
  /*padding-top: 100px;
  padding-bottom: 100px;*/
  margin: 0 auto;
  background-color: black;
  width: 100%;
  height: 80px;

}

.tagline-text{
  padding: 10px;
  color: white;
  font-family: "Roboto";
  margin: 0 auto;
  background-color: black;
  /*width: 100%;
  height: 80px;*/
}

.tagline-resize{
  margin:0 auto;
  font-size: 38px;
}

@media only screen (max-width: 1024px){
  .tagline-resize {
  font-size: 12px !important;
  }
}


.spacing {
  padding-top: 150px;
  padding-bottom: 150px;

}



.circular-spacing-left{
  margin: 0 auto;
  /*padding-left: 200px !important;*/

}

.circular-spacing-middle{
  margin: 0 auto;
  /*padding-left: 200px !important;*/

}


.circular-spacing-right{
  margin: 0 auto;
  /*padding-right: 200px !important; */
}

.second-circular-section{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.image-title{
  font-size: 26px;
  padding: 15px;
  font-family: "Roboto";
  color: #1a237e;
  /*width: 200px;
  height: 50px;
  color: white;
  background-color: blue;
  border-radius: 70px;
  position: absolute;
  left: 300px;
  top: 760px;*/
}

.about-us-box{
  /*background-color: #e1f5fe;*/
  background-color: #1a237e;
  /*opacity: 0.5;*/
  padding: 45px;
}
.title {
  /*padding-top: 150px;*/
  padding-bottom: 35px;
  margin: 0 auto;
  font-size: 34.5px;
  text-align: center;
  font-family: "Roboto";


}

.about-us-sub-color{
    color: #FFFFFF;
}

.about-us-color{

  color: #0288d1;
}



.text {
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto";
  font-size: 17.5px;
}

.areas-title{
  color: #1a237e;
}

.sub-title{
  font-size: 26px;
  text-align: center;
  padding-top: 50px;
  font-family: "Roboto";
  color: #1a237e;
}

.bulleted{
  padding: 10px;
  color: #0288d1;


}

li{
  padding: 5px;
}

.small-logo{
  text-align: center;
  padding-top: 50px;
}

.joan-headshot{
  padding: 25px;
  padding-top: 30px;
  width: 580px;
  height: 387px;
}

.title-attorney-clay{
  padding-top: 100px;
  padding-bottom: 80px;
  color: #1a237e;
}

.attorney-clay-para{
  padding-bottom: 100px;

}

.attorney-clay-photo{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
}



@media only screen and (max-width: 535px){
  .attorney-clay-photo {
      margin: 0 auto;
      padding-bottom: 40px;
      text-align: center;

  }
}

@media only screen and (max-width: 535px){
  .joan-headshot {
      max-width: 400px;
      height: 267px;
      margin: 0 auto;

  }
}

.contact-us-section{
  padding: 100px;
  max-width: 100%;
  min-height: 1000px;
}


.title-contact{
  font-size: 36px;
  color: #1a237e;
  padding-bottom: 100px;

}

.address-small{
  padding-top: 15px;
}

.contact-col{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 550px;
  max-height: 450px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.input-format{
  border: 1px solid #1a237e;
  padding: 50px;
}

.testimonial-wrapper{
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.preload-padding{
  padding-left: 75px;
  margin: 0 auto;
}

.disclaimer{
  font-size: 10px;
  padding: 20px;
  margin: 0px;

}
